@charset "UTF-8";
/* @use 'fonts'; */
html {
  scroll-padding-top: 120px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #f7b7b1;
  font-family: "Lora", serif;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 100px;
}

header {
  width: 100%;
  /* max-width: 1920px; */
  margin: 0 auto;
  box-shadow: 0 5px 5px -4px rgba(0, 0, 0, 0.413);
  top: 0;
  left: 0;
  z-index: 1000;
  position: fixed;
  overflow: hidden;
}
header .header_container {
  height: 120px;
  max-height: 120px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: radial-gradient(circle, #FFFFFF 0%, #f7b7b1 100%);
  justify-content: center;
  padding: 0 30px;
}
header .header_container .logo2 {
  display: none;
}
header .header_container .burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 50px;
  height: 23.5px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 11;
  transition: transform 0.3s ease;
  position: relative;
}
header .header_container .burger .line {
  width: 100%;
  height: 3px;
  background: #914740;
  border-radius: 2px;
  transition: all 0.3s ease;
  position: relative;
}
header .header_container .burger .line:nth-child(1) {
  top: 0;
}
header .header_container .burger .line:nth-child(2) {
  top: 10%;
  transform: translateY(-50%);
}
header .header_container .burger .line:nth-child(3) {
  bottom: 0;
}
header .header_container .burger--active .line:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}
header .header_container .burger--active .line:nth-child(2) {
  transform: scale(0);
}
header .header_container .burger--active .line:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}
header .header_container .langMarker {
  display: none;
  /* font-family: 'Gerislan'; */
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 1px;
  color: #914740;
}
header .header_container .small-nav {
  position: fixed;
  top: 59px;
  right: -100%;
  width: 150px;
  height: 100%;
  background: #f7b7b1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0.5rem 1rem;
  transition: right 0.3s ease-in-out;
}
header .header_container .small-nav .logo {
  margin: 20px auto;
  width: 80%;
  display: flex;
  justify-content: center;
}
header .header_container .small-nav .menuLinks {
  padding-left: 10px;
  row-gap: 7px;
  margin-top: -10px;
}
header .header_container .small-nav .menuLinks li {
  /* font-family: 'Gerislan'; */
  font-weight: 600;
  font-size: 15px;
  color: #CE3939;
}
header .header_container .small-nav .language_nav-small {
  display: flex;
  justify-content: center;
}
header .header_container .small-nav .language_nav-small .button_container {
  display: flex;
  column-gap: 6px;
  background-color: #D2797B;
  border-radius: 10px;
  padding: 10px 15px;
}
header .header_container .small-nav .language_nav-small .button_container button {
  /* font-family: 'Gerislan'; */
  font-weight: 400;
  font-size: 16px;
  background-color: unset;
  border: none;
  transition: background-color 0.25s, scale 0.25s;
  border-radius: 5px;
  cursor: pointer;
  padding: 1px 1px;
  color: #FFFFFF;
}
header .header_container .small-nav .language_nav-small .button_container button:active {
  transform: scale(0.99);
}
header .header_container .small-nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 2px 2px;
  margin: 0;
  row-gap: 10px;
}
header .header_container .small-nav ul a {
  text-decoration: none;
  font-size: 24px;
  /* font-family: 'Gerislan'; */
  font-weight: 400;
  cursor: pointer;
  color: #CE3939;
  white-space: nowrap;
  cursor: pointer;
}
header .header_container .small-nav ul a li {
  text-decoration: none;
  /* font-family: 'Gerislan'; */
  font-weight: 400;
  cursor: pointer;
  color: #992b2b;
  white-space: nowrap;
  cursor: pointer;
}
header .header_container .small-nav .small-reservar_container {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  color: white;
  letter-spacing: 0.7px;
  padding: 7px 30px;
  border-radius: 10px;
  /* font-family: 'Gerislan'; */
  font-weight: 400;
  font-size: 20px;
  background-color: #D2797B;
  border: none;
  cursor: pointer;
}
header .header_container .small-nav .small-reservar_container a {
  text-decoration: none;
  color: #FFFFFF;
  letter-spacing: 0.7px;
  background-color: #D2797B;
  border-radius: 30px;
  /* font-family: 'Gerislan'; */
  font-weight: 400;
  font-size: 20px;
  transition: color 0.4s, background-color 0.4s;
}
header .header_container .small-nav .small-reservar_container a:hover {
  color: #E18F90;
  background-color: #FFFFFF;
}
header .header_container .small-nav--active {
  right: 0;
}
header .header_container .reservar_container a {
  text-decoration: none;
  color: #FFFFFF;
  letter-spacing: 0.7px;
  background-color: #E18F90;
  padding: 7px 30px;
  border-radius: 30px;
  /* font-family: 'Gerislan'; */
  font-weight: 400;
  font-size: 30px;
  transition: color 0.4s, background-color 0.4s;
}
header .header_container .reservar_container a:hover {
  color: #E18F90;
  background-color: #FFFFFF;
}
header .header_container .main_nav {
  width: 100%;
  max-width: fit-content;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
}
header .header_container .main_nav nav {
  width: fit-content;
}
header .header_container .main_nav nav ul {
  display: flex;
  list-style: none;
  column-gap: 33px;
  padding: 0;
  width: fit-content;
}
header .header_container .main_nav nav ul a {
  text-decoration: none;
  color: #CE3939;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
}
header .header_container .main_nav nav ul a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  width: 95%;
  height: 2px;
  background-color: #CE3939;
  transition: transform 0.3s ease-in-out;
}
header .header_container .main_nav nav ul a:hover::after {
  transform: translateX(-50%) scaleX(1);
}
header .header_container .main_nav nav ul li {
  font-size: 30px;
  /* font-family: 'Gerislan'; */
  font-weight: 400;
  cursor: pointer;
}
header .header_container .main_nav .nav_inicio {
  text-align: center;
  display: flex;
  align-items: center;
  column-gap: 35px;
  margin-left: auto;
}
header .header_container .main_nav .logo {
  width: 158px;
  height: auto;
  flex: 0;
}
header .header_container .main_nav .nav_carta {
  text-align: center;
  display: flex;
  align-items: center;
  column-gap: 35px;
}
header .header_container .language_nav .button_container {
  display: flex;
  column-gap: 4px;
}
header .header_container .language_nav .button_container button {
  /* font-family: 'Gerislan'; */
  font-weight: 400;
  font-size: 20px;
  background-color: unset;
  border: none;
  transition: background-color 0.25s, scale 0.25s;
  border-radius: 5px;
  cursor: pointer;
  padding: 1px 1px;
  color: #914740;
}
header .header_container .language_nav .button_container button:active {
  transform: scale(0.99);
}

main {
  margin-top: 120px;
}
main .heroSection {
  position: relative;
  display: block;
  width: 100%;
}
main .heroSection img {
  width: 100%;
  max-width: 1920px;
  height: auto;
  display: block;
  margin: 0 auto;
  box-shadow: 0 5px 5px -4px rgba(0, 0, 0, 0.413);
}
main .heroSection h1 {
  position: absolute;
  cursor: default;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  /* font-size: 110px; */
  font-size: 6.8vw;
  white-space: nowrap;
  font-weight: 300;
  padding: 0 50px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.879);
}
main .aboutSection {
  background-image: url("../images/aboutBackground.webp");
  background-size: cover;
  background-position: 50% 2%;
  background-repeat: no-repeat;
  width: 100%;
}
main .aboutSection .about_inner .upper_decoration {
  padding-top: 50px;
}
main .aboutSection .about_inner .down_decoration {
  padding-bottom: 50px;
}
main .aboutSection .about_inner .decoration_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .aboutSection .about_inner .decoration_container img {
  width: 70%;
  max-width: 100%;
}
main .aboutSection .about_inner .about_first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 150px;
  margin-top: 80px;
  padding: 0 100px;
}
main .aboutSection .about_inner .about_first .about_first_text {
  cursor: default;
  max-width: 720px;
  width: 100%;
}
main .aboutSection .about_inner .about_first .about_first_text h3 {
  white-space: nowrap;
  text-align: center;
  color: #B53226;
  /* font-size: 40px; */
  font-size: 3vw;
  /* font-family: 'Gerislan'; */
  font-weight: 400;
  /* max-width: 390px; */
}
main .aboutSection .about_inner .about_first .about_first_text p {
  margin-top: 30px;
  /* font-family: 'Gerislan'; */
  /* font-size: 22px; */
  font-size: 1.5vw;
  color: #5B1B1B;
  text-align: justify;
  line-height: 120%;
  /*  max-width: 390px; */
}
main .aboutSection .about_inner .about_first .image_container {
  width: 100%;
  max-width: 850px;
  overflow: hidden;
}
main .aboutSection .about_inner .about_first .image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .aboutSection .about_inner .about_second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 150px;
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 0 100px;
  cursor: default;
}
main .aboutSection .about_inner .about_second .about_second_text {
  max-width: 720px;
  width: 100%;
}
main .aboutSection .about_inner .about_second .about_second_text h3 {
  white-space: nowrap;
  text-align: center;
  color: #B53226;
  /* font-size: 40px; */
  font-size: 3vw;
  /* font-family: 'Gerislan'; */
  font-weight: 400;
  /* max-width: 441px; */
  margin-left: auto;
}
main .aboutSection .about_inner .about_second .about_second_text p {
  margin-top: 30px;
  /* font-family: 'Gerislan'; */
  /* font-size: 22px; */
  font-size: 1.5vw;
  color: #5B1B1B;
  text-align: justify;
  line-height: 120%;
  /* max-width: 441px; */
  margin-left: auto;
}
main .aboutSection .about_inner .about_second .image_container {
  width: 100%;
  max-width: 850px;
  overflow: hidden;
}
main .aboutSection .about_inner .about_second .image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .menuSection {
  background-image: url("../images/carta_small_background.webp");
  background-size: cover;
  padding-top: 60px;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  width: 100%;
  border-top: 4px solid #823226;
}
main .menuSection .menu_inner {
  padding-bottom: 50px;
  column-count: 2;
  column-gap: 16px;
  gap: 16px;
}
main .menuSection .menu_inner .brunchSection {
  cursor: default;
  break-inside: avoid;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0;
}
main .menuSection .menu_inner .brunchSection h3 {
  color: #B53226;
  font-size: 55px;
  /* font-family: 'Gerislan'; */
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}
main .menuSection .menu_inner .brunchSection hr {
  border: none; /* Убираем стандартное оформление */
  height: 1.5px; /* Толщина линии */
  background-color: #B53226; /* Цвет линии */
  margin: 10px auto 20px auto;
  width: 80%;
  box-sizing: border-box;
}
main .menuSection .menu_inner .brunchSection .dishes {
  margin-top: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* max-width: 70%; */
  justify-content: center;
  row-gap: 30px;
}
main .menuSection .menu_inner .brunchSection .dishes .dish {
  column-gap: 40px;
  display: flex;
  justify-content: space-around;
}
main .menuSection .menu_inner .brunchSection .dishes .dish .moveRight {
  margin-right: 5px;
}
main .menuSection .menu_inner .brunchSection .dishes .dish .moveRightMore {
  margin-right: 7px;
}
main .menuSection .menu_inner .brunchSection .dishes .dish .moveRightMoree {
  margin-right: 10px;
}
main .menuSection .menu_inner .brunchSection .dishes .dish .dishData {
  width: 60%;
}
main .menuSection .menu_inner .brunchSection .dishes .dish .dishData h4 {
  color: #B53226;
  font-size: 35px;
  /* font-family: 'Gerislan'; */
  font-weight: bold;
}
main .menuSection .menu_inner .brunchSection .dishes .dish .dishData p {
  margin-top: 5px;
  color: #B53226;
  font-size: 18px;
  /* font-family: 'Gerislan'; */
  font-style: italic;
}
main .menuSection .menu_inner .brunchSection .dishes .dish .dishData ul {
  margin: 0;
}
main .menuSection .menu_inner .brunchSection .dishes .dish .dishData ul li {
  color: #B53226;
  font-size: 18px;
  /* font-family: 'Gerislan'; */
  font-style: italic;
  margin-top: 5px;
  font-weight: bold;
}
main .menuSection .menu_inner .brunchSection .dishes .dish .priceNames {
  display: flex;
  column-gap: 20px;
}
main .menuSection .menu_inner .brunchSection .dishes .dish .priceNames .copa {
  margin-right: 10px;
}
main .menuSection .menu_inner .brunchSection .dishes .dish .priceNamesChupito {
  display: flex;
  column-gap: 20px;
}
main .menuSection .menu_inner .brunchSection .dishes .dish .priceNamesChupito .copa {
  margin-right: 0;
}
main .menuSection .menu_inner .brunchSection .dishes .dish .priceNamesChupito .copas {
  margin-right: 10px;
}
main .menuSection .menu_inner .brunchSection .dishes .dish .price {
  display: flex;
  column-gap: 20px;
}
main .menuSection .menu_inner .brunchSection .dishes .dish .price p {
  white-space: nowrap;
}
main .menuSection .menu_inner .brunchSection .dishes .dish p {
  color: #B53226;
  font-size: 35px;
  /* font-family: 'Gerislan'; */
  font-weight: bold;
}
main .menuSection .menu_inner .smaller .dishes .dish .dishData h4 {
  font-size: 22px;
  /* font-family: 'Gerislan'; */
  font-weight: bold;
}
main .menuSection hr {
  border: none;
  height: 1.5px;
  background-color: #B53226;
  margin: 20px auto;
  width: 90%;
  box-sizing: border-box;
}
main .menuSection .drinksHeading {
  text-align: center;
  color: #B53226;
  font-size: 50px;
  /* font-family: 'Gerislan'; */
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}
main .slider {
  width: 100%;
  height: 55vh;
  overflow: hidden;
  position: relative;
}
main .slider .slides {
  display: flex;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}
main .slider .slide {
  flex-shrink: 0;
  width: 100vw;
  height: 100%;
  box-sizing: border-box;
}
main .slider .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .slider .slide:not(:last-child) {
  border-right: 2px solid rgba(0, 0, 0, 0.879);
}
main .contactsSection {
  background-image: url("../images/contactBackground.webp");
  background-size: cover;
  background-position: 50% 40%;
  background-repeat: no-repeat;
  width: 100%;
}
main .contactsSection .contacts_inner .upper_decoration {
  padding-top: 50px;
}
main .contactsSection .contacts_inner .down_decoration {
  padding-bottom: 50px;
}
main .contactsSection .contacts_inner .decoration_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .contactsSection .contacts_inner .decoration_container img {
  width: 70%;
  max-width: 100%;
}
main .contactsSection .contacts_inner .social {
  margin: 0 auto;
  margin-top: 50px;
  max-width: 80%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 88px;
  padding: 80px 60px 70px 60px;
  cursor: default;
}
main .contactsSection .contacts_inner .social h4 {
  color: #B53226;
  /* font-family: 'Gerislan'; */
  font-weight: 400;
  font-size: 45px;
  text-align: center;
}
main .contactsSection .contacts_inner .social .socialIconsContainer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 80px;
}
main .contactsSection .contacts_inner .social .socialIconsContainer .gmail {
  width: 120px;
}
main .contactsSection .contacts_inner .social .socialIconsContainer img {
  width: 100px;
  transition: scale 0.3s;
}
main .contactsSection .contacts_inner .social .socialIconsContainer img:hover {
  scale: 1.03;
}
main .contactsSection .contacts_inner .social .socialIconsContainer img:active {
  scale: 0.99;
}
main .contactsSection .contacts_inner .horarioContainer {
  width: fit-content;
  margin: 10px auto;
  /*                 width: fit-content;
                  margin: 0 auto;
                  margin-top: 20px;
                  text-align: left;
                  display: flex;
                  gap: 20px;
                  article{
                      p{
                          margin-top: 10px;
                          font-size: 30px;
                          color: #B53226;

                      }
                  } */
}
main .contactsSection .contacts_inner .horarioContainer table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 30px;
}
main .contactsSection .contacts_inner .horarioContainer td {
  padding: 5px;
  text-align: left;
  text-align: center;
  color: #b02e20;
}
main .contactsSection .contacts_inner .horarioContainer td:first-child {
  text-align: left;
  padding-left: 15px;
}
main .contactsSection .contacts_inner .mapContainer {
  margin: 50px auto 0px auto;
  display: flex;
  justify-content: center;
}
main .contactsSection .contacts_inner .mapContainer .mapContainerInner {
  position: relative;
  overflow: hidden;
  max-width: 1000px;
  width: 100%;
  height: 450px;
  border-radius: 75px;
  border: 5px solid #E18F90;
  display: flex;
  justify-content: center;
}
main .contactsSection .contacts_inner .mapContainer .mapContainerInner iframe {
  border-radius: 72px;
  width: 1000px;
  border: none;
}
main .contactsSection .contacts_inner .instaTikTokContainer {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 80%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 88px;
  padding: 80px 60px 70px 60px;
  cursor: default;
}
main .contactsSection .contacts_inner .instaTikTokContainer h4 {
  color: #B53226;
  /* font-family: 'Gerislan'; */
  font-weight: 400;
  font-size: 45px;
  text-align: center;
}
main .contactsSection .contacts_inner .instaTikTokContainer .instaTikTokIconsContainers {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 80px;
}
main .contactsSection .contacts_inner .instaTikTokContainer .instaTikTokIconsContainers img {
  width: 100px;
  transition: scale 0.3s;
}
main .contactsSection .contacts_inner .instaTikTokContainer .instaTikTokIconsContainers .ticTokIcon {
  width: 85px;
}
main .contactsSection .contacts_inner .instaTikTokContainer .instaTikTokIconsContainers img:hover {
  scale: 1.03;
}
main .contactsSection .contacts_inner .instaTikTokContainer .instaTikTokIconsContainers img:active {
  scale: 0.99;
}

@media (max-width: 1920px) {
  main .slider {
    height: 80vh;
  }
}
@media (max-width: 1330px) {
  .container {
    padding: 0 50px;
  }
  header .header_container .reservar_container a {
    padding: 7px 20px;
    font-size: 27px;
  }
  header .header_container .main_nav nav ul {
    column-gap: 16px;
  }
  header .header_container .main_nav nav ul li {
    font-size: 22px;
  }
  header .header_container .main_nav .nav_inicio {
    column-gap: 30px;
  }
  header .header_container .main_nav .logo {
    width: 140px;
  }
  header .header_container .main_nav .nav_carta {
    column-gap: 30px;
  }
  header .header_container .language_nav .button_container button {
    font-size: 13px;
  }
  main .aboutSection .about_inner .about_first {
    padding: 0 50px;
  }
  main .aboutSection .about_inner .about_first .about_first_text h3 {
    font-size: 2.5vw;
  }
  main .aboutSection .about_inner .about_first .about_first_text p {
    font-size: 18px;
  }
  main .aboutSection .about_inner .about_second {
    padding: 0 50px;
  }
  main .aboutSection .about_inner .about_second .about_second_text h3 {
    font-size: 2.5vw;
  }
  main .aboutSection .about_inner .about_second .about_second_text p {
    font-size: 18px;
  }
  main .menuSection .menu_inner .brunchSection h3 {
    font-size: 50px;
  }
  main .menuSection .menu_inner .brunchSection .dishes .dish .dishData h4 {
    font-size: 27px;
  }
  main .menuSection .menu_inner .brunchSection .dishes .dish .dishData p {
    font-size: 12px;
  }
  main .menuSection .menu_inner .brunchSection .dishes .dish p {
    font-size: 25px;
  }
  main .menuSection .menu_inner .brunchSection .dishes .dish .price p {
    font-size: 25px;
  }
  main .menuSection .menu_inner .menu_buttons {
    row-gap: 20px;
  }
  main .menuSection .menu_inner .menu_buttons button {
    font-size: 45px;
  }
  main .contactsSection .contacts_inner .social {
    padding: 60px 40px 50px 40px;
  }
  main .contactsSection .contacts_inner .social h4 {
    font-size: 37px;
  }
  main .contactsSection .contacts_inner .social .socialIconsContainer {
    margin-top: 40px;
  }
  main .contactsSection .contacts_inner .social .socialIconsContainer .gmail {
    width: 110px;
  }
  main .contactsSection .contacts_inner .social .socialIconsContainer img {
    width: 90px;
  }
  main .contactsSection .contacts_inner .horarioContainer table {
    font-size: 30px;
  }
  main .contactsSection .contacts_inner .mapContainer {
    max-width: 700px;
  }
  main .contactsSection .contacts_inner .mapContainer .mapContainerInner {
    height: 350px;
  }
  main .contactsSection .contacts_inner .mapContainer .mapContainerInner .iframe {
    width: 700px;
  }
  main .contactsSection .contacts_inner .instaTikTokContainer {
    padding: 60px 40px 50px 40px;
  }
  main .contactsSection .contacts_inner .instaTikTokContainer h4 {
    font-size: 37px;
  }
  main .contactsSection .contacts_inner .instaTikTokContainer .instaTikTokIconsContainers {
    margin-top: 40px;
  }
  main .contactsSection .contacts_inner .instaTikTokContainer .instaTikTokIconsContainers img {
    width: 90px;
  }
}
@media (max-width: 1024px) {
  html {
    scroll-padding-top: 60px;
  }
  header .header_container {
    height: 100px;
    max-height: 100px;
    padding: 0 20px;
  }
  header .header_container .reservar_container a {
    padding: 7px 20px;
    font-size: 17px;
  }
  header .header_container .main_nav {
    column-gap: 20px;
  }
  header .header_container .main_nav nav ul {
    column-gap: 10px;
  }
  header .header_container .main_nav nav ul li {
    font-size: 17px;
  }
  header .header_container .main_nav .nav_inicio {
    column-gap: 28px;
  }
  header .header_container .main_nav .logo {
    width: 110px;
  }
  header .header_container .main_nav .nav_carta {
    column-gap: 28px;
  }
  header .header_container .language_nav .button_container button {
    font-size: 12px;
  }
  main {
    margin-top: 100px;
  }
  main .aboutSection .about_inner .upper_decoration {
    padding-top: 30px;
  }
  main .aboutSection .about_inner .down_decoration {
    padding-bottom: 30px;
  }
  main .aboutSection .about_inner .about_first {
    margin-top: 50px;
    padding: 0 50px;
    column-gap: 40px;
  }
  main .aboutSection .about_inner .about_first .about_first_text h3 {
    font-size: 2.5vw;
  }
  main .aboutSection .about_inner .about_first .about_first_text p {
    font-size: 14px;
    margin-top: 15px;
  }
  main .aboutSection .about_inner .about_second {
    padding: 0 50px;
    margin-bottom: 50px;
    margin-top: 40px;
    column-gap: 40px;
  }
  main .aboutSection .about_inner .about_second .about_second_text h3 {
    font-size: 2.5vw;
  }
  main .aboutSection .about_inner .about_second .about_second_text p {
    font-size: 14px;
    margin-top: 15px;
  }
  main .menuSection .menu_inner {
    column-count: 1;
  }
  main .menuSection .menu_inner h3 {
    font-size: 70px;
    padding-top: 30px;
  }
  main .menuSection .menu_inner .menu_buttons {
    margin-top: 10px;
    row-gap: 18px;
  }
  main .menuSection .menu_inner .menu_buttons button {
    font-size: 40px;
    width: 400px;
  }
  main .contactsSection .contacts_inner .upper_decoration {
    padding-top: 30px;
  }
  main .contactsSection .contacts_inner .down_decoration {
    padding-bottom: 30px;
  }
  main .contactsSection .contacts_inner .decoration_container img {
    width: 70%;
    max-width: 100%;
  }
  main .contactsSection .contacts_inner .social {
    margin-top: 30px;
    padding: 40px 20px 30px 20px;
    border-radius: 40px;
  }
  main .contactsSection .contacts_inner .social h4 {
    font-size: 27px;
  }
  main .contactsSection .contacts_inner .social .socialIconsContainer {
    margin-top: 20px;
  }
  main .contactsSection .contacts_inner .social .socialIconsContainer img {
    width: 70px;
  }
  main .contactsSection .contacts_inner .social .socialIconsContainer .gmail {
    width: 90px;
  }
  main .contactsSection .contacts_inner .horarioContainer table {
    font-size: 20px;
  }
  main .contactsSection .contacts_inner .mapContainer {
    margin: 30px auto 0px auto;
    max-width: 500px;
  }
  main .contactsSection .contacts_inner .mapContainer .mapContainerInner {
    height: 270px;
  }
  main .contactsSection .contacts_inner .mapContainer .mapContainerInner .iframe {
    width: 500px;
  }
  main .contactsSection .contacts_inner .instaTikTokContainer {
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 40px;
    padding: 40px 20px 30px 20px;
  }
  main .contactsSection .contacts_inner .instaTikTokContainer h4 {
    font-size: 27px;
  }
  main .contactsSection .contacts_inner .instaTikTokContainer .instaTikTokIconsContainers {
    margin-top: 20px;
  }
  main .contactsSection .contacts_inner .instaTikTokContainer .instaTikTokIconsContainers img {
    width: 70px;
  }
  main .contactsSection .contacts_inner .instaTikTokContainer .instaTikTokIconsContainers .ticTokIcon {
    width: 63px;
  }
}
@media (max-width: 768px) {
  header .header_container {
    background: #f7b7b1;
    height: 60px;
    justify-content: space-between;
    padding: 0 40px;
    column-gap: 5px;
  }
  header .header_container .logo2 {
    display: block;
  }
  header .header_container .logo2 img {
    width: 70%;
  }
  header .header_container .burger {
    display: flex;
    z-index: 1000;
  }
  header .header_container .langMarker {
    display: flex;
    margin-left: auto;
  }
  header .header_container .main_nav {
    grid-template-columns: 1fr;
  }
  header .header_container .main_nav .nav_inicio {
    display: none;
  }
  header .header_container .main_nav .nav_carta {
    display: none;
  }
  header .header_container .main_nav .logo {
    display: none;
  }
  main {
    margin-top: 60px;
  }
  main .aboutSection .about_inner .about_first {
    column-gap: 20px;
    padding: 0 20px;
  }
  main .aboutSection .about_inner .about_first .about_first_text h3 {
    font-size: 25px;
  }
  main .aboutSection .about_inner .about_first .about_first_text p {
    font-size: 15px;
    margin-top: 15px;
  }
  main .aboutSection .about_inner .about_second {
    column-gap: 20px;
    padding: 0 20px;
  }
  main .aboutSection .about_inner .about_second .about_second_text h3 {
    font-size: 25px;
  }
  main .aboutSection .about_inner .about_second .about_second_text p {
    font-size: 15px;
    margin-top: 15px;
  }
  main .menuSection .menu_inner {
    column-count: 1;
  }
  main .contactsSection .contacts_inner .social h4 {
    font-size: 20px;
  }
  main .contactsSection .contacts_inner .social .socialIconsContainer {
    margin-top: 18px;
  }
  main .contactsSection .contacts_inner .social .socialIconsContainer img {
    width: 50px;
  }
  main .contactsSection .contacts_inner .social .socialIconsContainer .gmail {
    width: 65px;
  }
  main .contactsSection .contacts_inner .horarioContainer table {
    font-size: 18px;
  }
  main .contactsSection .contacts_inner .mapContainer {
    max-width: 400px;
  }
  main .contactsSection .contacts_inner .mapContainer .mapContainerInner {
    height: 250px;
  }
  main .contactsSection .contacts_inner .mapContainer .mapContainerInner .iframe {
    width: 400px;
  }
  main .contactsSection .contacts_inner .instaTikTokContainer h4 {
    font-size: 20px;
  }
  main .contactsSection .contacts_inner .instaTikTokContainer .instaTikTokIconsContainers img {
    width: 50px;
  }
  main .contactsSection .contacts_inner .instaTikTokContainer .instaTikTokIconsContainers .ticTokIcon {
    width: 45px;
  }
}
@media (max-width: 568px) {
  .container {
    padding: 0 10px;
  }
  header .header_container {
    padding: 0 15px;
  }
  main .aboutSection .about_inner .upper_decoration {
    padding-top: 20px;
  }
  main .aboutSection .about_inner .down_decoration {
    padding-bottom: 20px;
  }
  main .aboutSection .about_inner .decoration_container img {
    width: 80%;
  }
  main .aboutSection .about_inner .about_first {
    flex-direction: column;
    margin-top: 20px;
  }
  main .aboutSection .about_inner .about_first .about_first_text {
    margin-top: 10px;
    text-align: center;
    order: 1;
  }
  main .aboutSection .about_inner .about_first .about_first_text h3 {
    text-align: center;
    font-size: 23px;
  }
  main .aboutSection .about_inner .about_first .about_first_text p {
    font-size: 18px;
    margin-top: 15px;
    text-align: center;
  }
  main .aboutSection .about_inner .about_first img {
    order: 0;
  }
  main .aboutSection .about_inner .about_second {
    margin-top: 30px;
    flex-direction: column;
    margin-bottom: 20px;
  }
  main .aboutSection .about_inner .about_second .about_second_text {
    margin-top: 10px;
  }
  main .aboutSection .about_inner .about_second .about_second_text h3 {
    text-align: center;
    font-size: 25px;
  }
  main .aboutSection .about_inner .about_second .about_second_text p {
    font-size: 18px;
    margin-top: 15px;
    text-align: center;
  }
  main .menuSection {
    background-image: url("../images/carta_small_background.webp");
  }
  main .menuSection .menu_inner .brunchSection {
    padding: 0 5px;
  }
  main .menuSection .menu_inner .brunchSection h3 {
    font-size: 30px;
  }
  main .menuSection .menu_inner .brunchSection hr {
    width: 80%;
  }
  main .menuSection .menu_inner .brunchSection .dishes .dish {
    column-gap: 15px;
    /*                             .moveRight{
                                    margin-right: 5px;
                                }
                                .moveRightMore{
                                    margin-right: 7px;
                                }
                                .moveRightMoree{
                                    margin-right: 10px;
                                } */
  }
  main .menuSection .menu_inner .brunchSection .dishes .dish .dishData {
    width: 60%;
  }
  main .menuSection .menu_inner .brunchSection .dishes .dish .dishData h4 {
    font-size: 20px;
  }
  main .menuSection .menu_inner .brunchSection .dishes .dish .dishData p {
    font-size: 14px;
  }
  main .menuSection .menu_inner .brunchSection .dishes .dish .dishData ul li {
    font-size: 14px;
  }
  main .menuSection .menu_inner .brunchSection .dishes .dish p {
    font-size: 20px;
  }
  main .menuSection .menu_inner .brunchSection .dishes .dish .price p {
    font-size: 20px;
  }
  main .contactsSection .contacts_inner .upper_decoration {
    padding-top: 20px;
  }
  main .contactsSection .contacts_inner .down_decoration {
    padding-bottom: 20px;
  }
  main .contactsSection .contacts_inner .decoration_container img {
    width: 80%;
  }
  main .contactsSection .contacts_inner .social {
    margin-top: 20px;
    padding: 20px 10px 20px 10px;
    border-radius: 20px;
  }
  main .contactsSection .contacts_inner .social h4 {
    font-size: 22px;
  }
  main .contactsSection .contacts_inner .social .socialIconsContainer {
    margin-top: 20px;
    column-gap: 40px;
  }
  main .contactsSection .contacts_inner .social .socialIconsContainer .gmail {
    width: 65px;
  }
  main .contactsSection .contacts_inner .social .socialIconsContainer img {
    width: 50px;
  }
  main .contactsSection .contacts_inner .horarioContainer table {
    font-size: 16px;
  }
  main .contactsSection .contacts_inner .mapContainer {
    max-width: 350px;
  }
  main .contactsSection .contacts_inner .mapContainer .mapContainerInner {
    height: 250px;
  }
  main .contactsSection .contacts_inner .mapContainer .mapContainerInner .iframe {
    width: 350px;
  }
  main .contactsSection .contacts_inner .instaTikTokContainer {
    margin-top: 30px;
    padding: 20px 10px 20px 10px;
    border-radius: 20px;
  }
  main .contactsSection .contacts_inner .instaTikTokContainer h4 {
    font-size: 24px;
  }
  main .contactsSection .contacts_inner .instaTikTokContainer .instaTikTokIconsContainers {
    margin-top: 20px;
    column-gap: 40px;
  }
  main .contactsSection .contacts_inner .instaTikTokContainer .instaTikTokIconsContainers img {
    width: 60px;
  }
  main .slider {
    height: 40vh;
  }
}

/*# sourceMappingURL=styles.css.map */
