@mixin font-face($font-name, $file-path, $weight: normal, $style: normal) {
    @font-face {
      font-family: #{$font-name};
      src: url("#{$file-path}.woff2") format("woff2");
      font-weight: $weight;
      font-style: $style;
    }
  }

// Подключение шрифтов
@include font-face('Gerislan', '../assets/fonts/Gerislan', 400, normal);
